<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
    </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=6.10.2.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <add name="WebAppConnString" connectionString="server=bjwork95.cjng4ulqqzae.ap-northeast-1.rds.amazonaws.com;User ID=BJwork; Password=bjwork95; Database=SuruTest;"
      providerName="System.Data.SqlClient" />
    <add name="ASPTEST" connectionString="server=bjwork.cjng4ulqqzae.ap-northeast-1.rds.amazonaws.com;user id=BJroot;password=bjwork95;database=ASPTEST;"
      providerName="MySql.Data.MySqlClient" />
    <add name="dbBJSportRecord" connectionString="Data Source=.;Initial Catalog=dbASP_demo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>